<div class="home-main" fxLayout="column" fxLayoutAlign="none none" fxFlex="70" fxFlexOffset="15">
  <div fxLayout="row">
    <div fxFlex="20">
      <button class="category-button" mat-raised-button [matMenuTriggerFor]="category"><mat-icon>menu</mat-icon> Danh Mục Sản Phẩm</button>
      <mat-menu #category="matMenu">
        <button mat-menu-item *ngFor="let category of categories"><mat-icon aria-hidden="false" aria-label="carts">local_offer</mat-icon>{{ category.categoryName }}</button>
      </mat-menu>
    </div>
    <div fxFlex="80">
      <app-search></app-search>
    </div>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>