<div class="cart-main" fxLayout="column" fxLayoutAlign="none none" fxFlex="70" fxFlexOffset="15" style="margin-bottom: 10px;">
    <div style="margin-bottom: 10px;">
      <mat-card>
        <h3>Thanh toán</h3>
      </mat-card>
    </div>
    <div fxLayout="row">
      <div class="checkout-info" fxFlex="70%">
        <mat-card class="info-card">
          <div fxLayout="column">
            <div>
              <h3>Thông tin khách hàng:</h3>
            </div>
            <div>
              <hr>
            </div>
            <div fxLayout="row">
              <div fxFlexOffset="67%" fxFlex="14%">
                <strong>Tổng tiền:</strong>
              </div>
              <div fxFlex="19%">
                <strong>{{sumOfAmount}} đ</strong>
              </div>
            </div>
            <div fxLayout="row" style="margin: 10px 10px;">
              <div fxFlexOffset="81%" fxFlex="14%">
                <button mat-raised-button color="accent" (click)="checkout()">Thanh toán</button>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
      <div class="cart-detail" fxFlex="30%">
          <mat-card class="cart-card" style="margin-left: 5px;">
            <div fxLayout="column">
              <div>
                <h3>Chi tiết đơn hàng:</h3>
              </div>
              <div *ngFor="let item of products;let i = index;" fxLayout="column">
                <div fxLayout="row">
                  <div fxFlex="70">
                    <span>{{i + 1}}. {{item.productName}} </span>
                  </div>
                  <div>
                    <span>{{item.buyingQuantity}} x {{item.price}} đ</span>
                  </div>
                </div>
                <div fxLayout="row">
                  <div fxFlex="30" fxFlexOffset="20">
                    <span>Thành tiền</span>
                  </div>
                  <div>
                    <span>{{item.amount}} đ</span>
                  </div>
                </div>
              </div>
              <div fxLayout="row">
                <div fxFlex="50">
                  <h4>Tổng hóa đơn: </h4>
                </div>
                <div>
                    <h4>{{sumOfAmount}} đ</h4>
                </div>
              </div>
              <div>
                <hr>
              </div>
              <div fxLayout="column">
                <div><span><i class="checkout-warning">*Kiểm tra kỹ trước khi đặt hàng</i></span></div>
                <div fxLayout="row">
                  <div fxFlex="50" fxFlexOffset="50">
                      <button mat-raised-button color="accent" (click)="checkout()">Đặt hàng</button>
                  </div>
                </div>
              </div>
            </div>
          </mat-card>
      </div>
    </div>
  </div>