<div class="cart-main" fxLayout="column" fxLayoutAlign="none none" fxFlex="70" fxFlexOffset="15"
  style="margin-bottom: 10px;">
  <div style="margin-bottom: 10px;">
    <mat-card>
      <h3>Thanh toán</h3>
    </mat-card>
  </div>
  <div fxLayout="row">
    <div class="checkout-info" fxFlex="60%">
      <mat-card class="info-card">
        <div fxLayout="column">
          <div>
            <h3>Thông tin đơn hàng:</h3>
          </div>
          <div>
            <form [formGroup]="myGroup" class="example-form">
              <mat-form-field class="user-info">
                <input matInput formControlName="customerName" placeholder="Khách hàng" value="Phi Nguyễn">
              </mat-form-field>
              <mat-form-field class="user-info">
                <input matInput formControlName="customerPhoneNumber" placeholder="Số điện thoại" value="037 405 4736">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <textarea matInput formControlName="shippingAdress" placeholder="Địa chỉ giao hàng"></textarea>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <textarea matInput formControlName="note" placeholder="Ghi chú"></textarea>
              </mat-form-field>

              <section class="example-section">
                <mat-radio-group formControlName="paymentMethod">
                  <mat-radio-button checked value="after">Thanh toán khi nhận hàng (COD)</mat-radio-button>
                  <mat-radio-button class="example-margin" value="before">Thẻ ATM nội địa</mat-radio-button>
                </mat-radio-group>
              </section>

              <table class="example-full-width" cellspacing="0">
                <tr>
                  <td>
                    <mat-form-field class="example-full-width">
                      <input matInput formControlName="code" placeholder="Nhập mã giảm giá">
                    </mat-form-field>
                  </td>
                </tr>
              </table>

              <section class="example-section">
                <mat-checkbox formControlName="isGiftWrapping">Bọc quà tặng</mat-checkbox>
                <mat-form-field class="user-info" style="margin-left: 15px;">
                  <input matInput formControlName="receiverPhoneNumber" placeholder="Số điện thoại người nhận" *ngIf="!isGiftWrapping">
                </mat-form-field>
              </section>
              <section class="example-section">
                <mat-checkbox formControlName="issueAnInvoice">Xuất hóa đơn điệnt tử</mat-checkbox>
              </section>          
            </form>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="cart-detail" fxFlex="40%">
      <mat-card class="cart-card" style="margin-left: 5px;">
        <div fxLayout="column">
          <div>
            <h3>Chi tiết đơn hàng:</h3>
          </div>
          <div *ngFor="let item of products;let i = index;" fxLayout="column">
            <div fxLayout="row">
              <div fxFlex="70">
                <span>{{i + 1}}. {{item.name}} </span>
              </div>
              <div>
                <span>{{item.buyingQuantity}} x {{item.price}} đ</span>
              </div>
            </div>
            <div fxLayout="row">
              <div fxFlex="30" fxFlexOffset="20">
                <span>Thành tiền</span>
              </div>
              <div>
                <span>{{item.amount}} đ</span>
              </div>
            </div>
          </div>
          <div fxLayout="row">
            <div fxFlex="50">
              <h4>Tổng hóa đơn: </h4>
            </div>
            <div>
              <h4>{{sumOfAmount}} đ</h4>
            </div>
          </div>
          <div>
            <hr>
          </div>
          <div fxLayout="column">
            <div><span><i class="checkout-warning">*Kiểm tra kỹ trước khi đặt hàng</i></span></div>
            <div fxLayout="row">
              <div fxFlex="50" fxFlexOffset="50">
                <button mat-raised-button color="accent" (click)="checkout()" [disabled]="!disableCheckoutButton">Đặt hàng</button>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>