<div class="cart-main" fxLayout="column" fxLayoutAlign="none none" fxFlex="70" fxFlexOffset="15" style="margin-bottom: 10px;">
  <div style="margin-bottom: 10px;">
    <mat-card>
      <h3>Giỏ hàng</h3>
    </mat-card>
  </div>
  <div fxLayout="row">
    <div class="cart-detail" fxFlex="100%">
      <mat-card class="product-card">
        <div fxLayout="column">
          <div *ngFor="let item of products">
            <div fxLayout="column">

              <div fxLayout="row">
                <div fxLayout="column" fxFlex="50%">
                  <div>
                    <h4>{{item.name}}</h4>
                  </div>
                  <div>
                    <div class="image-item" fxFlex="25%">
                      <img style="max-width: 80px; max-height: 80px" src="assets/images/product/product_1.jpg" alt="{{item.productName}}" />
                    </div>
                    <div class="description-item" fxFlex="75%">
                      <p>
                        {{item.shortDescription}}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="quantity-item" fxFlex="17%">
                  <div fxLayout="column">
                    <div>
                      <h4>Số lượng</h4>
                    </div>
                    <div>
                      <mat-form-field class="input-quantity">
                        <input matInput type="number" [value]=item.buyingQuantity min=1 max={{item.maxQuantity}} (input)="onQuantityChange(item, $event.target.value)">
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="price-item" fxFlex="14%">
                  <div fxLayout="column">
                    <div>
                      <h4>Đơn giá</h4>
                    </div>
                    <div>{{item.price}} đ</div>
                  </div>
                </div>
                <div class="amount-item" fxFlex="14%">
                  <div fxLayout="column">
                    <div>
                      <h4>Thành tiền</h4>
                    </div>
                    <div>{{item.amount}} đ</div>
                  </div>
                </div>
                <div class="delte-item" fxFlex="5%">
                  <div fxLayout="column">
                    <div>
                      <button mat-button (click)="deleteItem(item)">X</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <hr>
          </div>
          <div fxLayout="row">
            <div fxFlexOffset="67%" fxFlex="14%">
              <strong>Tổng tiền:</strong>
            </div>
            <div fxFlex="19%">
              <strong>{{sumOfAmount}} đ</strong>
            </div>
          </div>
          <div fxLayout="row" style="margin: 10px 10px;">
            <div fxFlexOffset="81%" fxFlex="14%">
              <button mat-raised-button color="accent" (click)="checkout()">Thanh toán</button>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>