<div fxLayout="column">
  <div fxLayout="row" class="product-detail">
    <div fxFlex="40" class="product-image">
      images
    </div>
    <div fxFlex="60" class="product-overview">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title><strong>{{product.productName}}</strong></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <span>Hãng: {{product.by}}</span>
            <br>
            <p>
                {{product.shortDescription}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <span><strong>Giá: </strong>{{product.price}} đ</span>
            <br>
            <mat-form-field class="input-amount">
              <input matInput type="number" value="quantity" min="1" max="{{product.quantity}}">
            </mat-form-field>
            <button mat-raised-button color="accent" (click)="addingItemToCart()">Thêm sản phẩm</button>
            <button mat-raised-button color="warn">Share</button>
          </mat-card-actions>
        </mat-card>
    </div>
  </div>
  <div class="product-description">
    <mat-card [innerHtml]="product.description">
    </mat-card>
  </div>
  <div class="product-comment">
      <mat-card>embedded facebook comment</mat-card>
    </div>
</div>