//customize library
::ng-deep .mat-card-header-text {
    margin: 0px !important;
  }
.input-amount {
  width: 35px;
}

.example-card {
  height: 300px;
}

.mat-card{
  display:flex;
  flex-direction: column;
}

.mat-card-header {
  flex-shrink: 0;
}

.mat-card-content {
  flex-grow: 1;
  overflow: auto;
}

.product-description{
  margin-top: 10px;
}

.product-comment{
  margin-top: 10px;
  margin-bottom: 10px;
}